{% extends 'layouts/auth_base.html' %}
{% from 'components/errors/error.html' import alert %}

{% block title %} | Reset Password{% endblock %}

{% block form %}
  <h1>Reset Password</h1>
  {% if error %}{{ alert(error) }}{% endif %}
  <form method="post">
    <input class="input" type="text" name="username" placeholder="Username" required maxlength="{{ config.MAX_USERNAME_LENGTH }}" />
    <input class="input" type="text" name="recovery_code"
           placeholder="Recovery code (ABCD-EFGH-IJKL-MNOP)"
           pattern="[0-9A-HJKMNP-TV-Z]{4}(?:-[0-9A-HJKMNP-TV-Z]{4}){3}"
           required />
    <input class="input" type="password"
           name="new_password" placeholder="New password" required
           pattern="^(?=.*[A-Za-z])(?=.*\d).+$"
           maxlength="{{ config.MAX_PASSWORD_LENGTH }}"
           minlength="{{ config.MIN_PASSWORD_LENGTH }}" />
    <input class="input" type="password" name="confirm_password"
           placeholder="Confirm password"
           required pattern="^(?=.*[A-Za-z])(?=.*\d).+$"
           maxlength="{{ config.MAX_PASSWORD_LENGTH }}"
           minlength="{{ config.MIN_PASSWORD_LENGTH }}" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button class="btn btn-primary" type="submit">Reset</button>
  </form>
  <br />
  <p><a href="{{ url_for('auth.login') }}">Back to login</a></p>
{% endblock %}
