<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ config.APP_NAME }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <div class="form-container">
      <div id="branding">
        <picture>
          <source srcset="{{ url_for('static', filename='img/logo-dark.svg') }}" media="(prefers-color-scheme: dark)" />
          <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="{{ config.APP_NAME }} logo" />
        </picture>
      </div>
      {% block form %}{% endblock %}
    </div>
    {% block body_scripts %}{% endblock %}
  </body>
</html>
