<div id="main-content" data-view="{{ view|default('diary') }}">
  {% include "components/shared/view_state.html" %}
  <script type="application/json" id="tags-catalog-data" data-tags-catalog>
    {{ (tags_catalog_items if tags_catalog_items is defined else []) | tojson }}
  </script>
  {% if view == "diary" %}
    {% include "views/diary.html" %}
  {% elif view == "tags" %}
    {% include "views/tags.html" %}
  {% elif view == "structure" %}
    {% include "views/structure.html" %}
  {% endif %}
</div>
