{% from 'components/entries/entry_item.html' import render_entry %}
{% if not entries|length and not is_today %}
<div class="no-content">
  <div class="ui-empty-state">
    <p class="ui-empty-state__title">
      {% if is_future %}
      The future has yet to come.
      {% else %}
      Nothing was written this day.
      {% endif %}
    </p>
  </div>
</div>
{% endif %}
{% for item in entries or [] -%}
{{ render_entry(item.entry, day, is_today, responses=item.responses, animate_entries=animate_entries) }}
{%- endfor %}
