<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Minimal Flask chat app</title>
  <script src="{{url_for('static', filename='js/htmx.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/htmx-ext-sse.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <h1>Chat</h1>

  <div id="chat-box">
    {% for msg in messages %}
    <div class="{{ msg['role'] }}">{{ msg.text }}</div>
    {% endfor %}
  </div>

  <form id="chat-form"
        hx-post="/messages/{{ session_id }}"
        hx-target="#chat-box"
        hx-on::after-request="this.reset()"
        hx-swap="beforeend">
    <div class="input-wrapper">
      <textarea
        onkeydown="if (event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); this.form.requestSubmit(); }"
        name="message"
        rows="3"
        cols="40"
        required></textarea><br>
      <button type="submit">➤</button>
    </div>
  </form>

</body>
</html>
