<main
  id="chatbox-wrapper"
  {% if oob %} hx-swap-oob="true" {% endif %}>
  <div id="chat-box" data-session-id="{{ session.id }}">
    <div class="bot">Hello there! Say anything you want, I'm a helpful assistant.</div>
    {% for msg in history %}
    <div class="{{ 'bot' if msg['role'] != 'user' else 'user'}}">{{ msg.content }}</div>
    {% endfor %}
  </div>

  <div class="chat-controls">
    <form id="chat-form"
          hx-post="/s/{{ session.id }}/message"
          hx-target="#chat-box"
          hx-on::after-request="this.reset()"
          hx-swap="beforeend">

      <div class="input-wrapper">
        <textarea
          onkeydown="if (event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); this.form.requestSubmit(); }"
          name="message"
          rows="3"
          placeholder="Type your message"
          cols="40"
          maxlength="{{ config.MAX_MESSAGE_LENGTH }}"
          required></textarea>
        <button type="submit">➤</button>
      </div>
    </form>
    <script type="module">
      import { initChatUI } from "{{ url_for('static', filename='js/chat.js') }}";
      import { updateActiveSession } from "{{ url_for('static', filename='js/session.js') }}";
      initChatUI();
      updateActiveSession();
    </script>
  </div>
</main>
