<li
  id="session-{{ session.id }}"{% if session.id == session_id %} class="active"{% endif %}>
  <div class="session-item">
    <a
      href="{{ url_for('sessions.session', session_id=session.id) }}"
      hx-get="{{ url_for('chat.chat_htmx', session_id=session.id) }}"
      data-session-id="{{ session.id }}"
      hx-target="#content-wrapper"
      hx-trigger="click[!document.getElementById('chat') || document.getElementById('chat').dataset.sessionId !== this.dataset.sessionId]"
      title="{{session.name}}"
      hx-swap="outerHTML">
      {{ session.name }}
    </a>
  </div>
</li>
