<aside id="sidebar" class="sidebar">
  <ul>
    {% for s in sessions %}
    <li class="{% if s.id == session_id %}active{% endif %}">
      <a
        href="/s/{{ s.id }}"
        hx-get="/s/{{ s.id }}/chat"
        data-session-id="{{ s.id }}"
        hx-target="#chatbox-wrapper"
        hx-swap="innerHTML">
        {{ s.name or 'Untitled' }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="user-info"> {{ user.username }} | <a href="{{ url_for('auth.logout') }}">Logout</a></div>


</aside>
