<main
  id="content-wrapper"
  {% if oob %} hx-swap-oob="true" {% endif %}>
  <chat-view data-rendering="true"{% if scroll_target %} data-scroll-target="{{ scroll_target }}"{% endif %}>
    {% include 'partials/history.html' %}
    {% if is_today %}
    <chat-form data-date="{{ day }}">
      <form id="message-form"
            hx-post="{{ url_for('chat.send_message', date=day) }}"
            hx-target="#chat"
            hx-on::after-request="this.reset()"
            hx-swap="beforeend">
        <div class="input-wrapper">
          <textarea class="input"
                    name="message"
                    rows="3"
                    placeholder="{{ 'Write your thoughts here…' if is_today else 'This day has passed.' }}"
                    cols="40"
                    maxlength="{{ config.MAX_MESSAGE_LENGTH }}"></textarea>
          <input type="hidden" name="user_time" id="user-time" />
          <button id="send-btn" class="btn" type="submit" aria-label="Send"{% if not is_today %} disabled{% endif %}></button>
        </div>
      </form>
    </chat-form>

    {% else %}
    <div class="return-today">This day has passed.
      <a
        href="{{ url_for('days.day_today') }}"
        hx-get="{{ url_for('chat.chat_htmx_today') }}"
        hx-target="#content-wrapper"
        hx-swap="outerHTML"
        hx-push-url="true">
        Return to present. </a>
    </div>
    {% endif %}

    <scroll-bottom-button></scroll-bottom-button>
  </chat-view>

  <script type="module" src="{{ url_for('static', filename='js/chat-entry.js') }}"></script>
</main>
