{% from 'partials/entry_item.html' import render_entry %}
{% set entry = item.entry %}
{% set entry_id = entry['id'] %}
{% set entry_date = item.created_date or entry['created_at'][:10] %}
{% set entry_url = url_for('days.day', date=entry_date) ~ '?view=diary&target=entry-' ~ entry_id %}
{% set is_entry_today = (today is defined and entry_date == today) %}
{% set context_query = '?view=tags&day=' ~ (day|urlencode) ~ '&sort_kind=' ~ sort_kind ~ '&sort_dir=' ~ sort_dir ~ '&entries_limit=' ~ entries_limit %}
{% set tag_page_template = url_for('days.day', date=day) ~ '?view=tags&sort_kind=' ~ sort_kind ~ '&sort_dir=' ~ sort_dir ~ '&entries_limit=' ~ entries_limit ~ '&tag=__TAG__&target=tag-index-__TAG__' %}
{% set tag_fragment_template = url_for('tags.tags_view_fragment', date=day) ~ '?sort_kind=' ~ sort_kind ~ '&sort_dir=' ~ sort_dir ~ '&entries_limit=' ~ entries_limit ~ '&tag=__TAG__&target=tag-index-__TAG__' %}
{% if selected_tag %}
  {% set context_query = context_query ~ '&tag=' ~ (selected_tag|urlencode) %}
{% endif %}
<li class="tags-view__entry-item" data-entry-id="{{ entry_id }}">
  {{ render_entry(
      entry,
      entry_date,
      is_today=is_entry_today,
      responses=item.responses,
      include_responses=True,
      entry_class='tags-view__entry',
      tags_context_query=context_query,
      tags_click_mode='navigate',
      tags_navigate_page_template=tag_page_template,
      tags_navigate_fragment_template=tag_fragment_template,
      entry_open_url=entry_url,
      entry_open_variant='corner',
      entry_open_icon='icon-circle-arrow-right',
      entry_open_hx_get=entry_url,
      entry_open_hx_target='#main-content',
      entry_open_hx_swap='outerHTML',
      entry_open_hx_push_url='true'
    ) }}
</li>
