{% set active = item.name == active_tag %}
{% set list_target = target if target is defined else None %}
{% set row_target = 'tag-index-' ~ item.name %}
{% set base_day_url = url_for('days.day', date=day) %}
{% set base_detail_url = url_for('tags.tags_view_detail_fragment', date=day) %}
{% set tag_url = base_day_url ~ '?view=tags&sort_kind=' ~ sort_kind ~ '&sort_dir=' ~ sort_dir ~ '&entries_limit=' ~ entries_limit ~ '&tag=' ~ (item.name|urlencode) %}
{% set fragment_url = base_detail_url ~ '?sort_kind=' ~ sort_kind ~ '&sort_dir=' ~ sort_dir ~ '&entries_limit=' ~ entries_limit ~ '&tag=' ~ (item.name|urlencode) ~ '&tag_hash=' ~ item.hash %}
{% if list_target and list_target == row_target %}
  {% set tag_url = tag_url ~ '&target=' ~ (list_target|urlencode) %}
  {% set fragment_url = fragment_url ~ '&target=' ~ (list_target|urlencode) %}
{% endif %}
<a class="tags-view__index-row{% if active %} is-active{% endif %}"
   id="{{ row_target }}"
   href="{{ tag_url }}"
   data-tag-name="{{ item.name }}"
   data-tags-name="{{ item.name }}"
   data-tags-count="{{ item.count }}"
   {% if active %}aria-current="true"{% endif %}
   hx-get="{{ fragment_url }}"
   hx-target="#tags-view-detail"
   hx-swap="outerHTML"
   hx-push-url="{{ tag_url }}">
  <span class="tags-view__index-name">{{ item.name }}</span>
  <span class="tags-view__index-count">{{ item.count }}</span>
</a>
