<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Minimal Flask chat app</title>
    <script src="{{url_for('static', filename='js/vendor/htmx.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/htmx-ext-sse.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/htmx-ext-response-targets.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body
    hx-ext="response-targets"
    hx-target-5*="#errors"
    hx-target-4*="#errors">

    <div id="errors"></div>
    <div class="user-info">Logged in as {{ user.username }} | <a href="{{ url_for('auth.logout') }}">Logout</a></div>

    <h1>Chat</h1>
    <div id="chatbox-wrapper">
      {% include "partials/chat.html" %}
    </div>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
      })
    </script>
  </body>
</html>
