<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ config.APP_NAME }} | Recovery Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  </head>
  <body>
    <div class="form-container">
      <h1>Recovery Code</h1>
      <p class="warning">
        Without this code, if you lose your password, your account and data
        cannot be recovered.
      </p>

      <pre id="recovery">{{ code }}</pre>
      <div class="recovery-actions">
        <button class="btn" id="copy">Copy</button>
        <button class="btn" id="download">Download</button>
      </div>
      <p class="continue"><a href="{{ next_url }}">Continue</a></p>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/recovery.js') }}"></script>
  </body>
</html>
