<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ config.APP_NAME }} | Register</title>
    <script src="{{url_for('static', filename='js/vendor/htmx.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  </head>
  <body>
    <div class="form-container">
      <h1>Register</h1>
      {% if error %}<div class="error">{{ error }}</div>{% endif %}
      <form method="post">
        <input type="text" name="username" placeholder="Username"
               required pattern="^[A-Za-z0-9_]+$" maxlength="{{ config.MAX_USERNAME_LENGTH }}"/>
        <input type="password"
               name="password"
               placeholder="Password"
               required
               maxlength="{{ config.MAX_PASSWORD_LENGTH }}"
               minlength="2"
               hx-post="{{ url_for('auth.password_strength_check') }}"
               hx-trigger="input changed delay:200ms"
               hx-target="#password-strength"
               />
        <div id="password-strength">
          <div class="strength-meter"><div class="bar"></div></div>
        </div>
        <input type="password"
               name="confirm_password"
               placeholder="Confirm password"
               minlength="2"
               required
               />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" data-loading="Creating account">Create account</button>
      </form>
      <br>
      <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
  </body>
</html>
